body {
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

.main {
    padding: 10px;
}

.search {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 90%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
}

.row{
    margin:1px;
}

.sidebar h2 {
    margin-top: 5px;
}