{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create Page
{% endblock %}

{% block style %}
<style>
    .submit{
        color: #3c4043;
        background-color: #f8f9fa;
        border:1px solid #f8f9fa; 
    }
    .submit:hover{
        border-style: outset;
    }
</style>
{% endblock %}

{% block search %}
<form action="{% url 'wiki:search' %}" method='post'>
    {% csrf_token %}
    {{ form }}
</form>
{% endblock %}

{% block body %}
<form action="{% url 'wiki:createPage' %}" method='post'>
    {% csrf_token %}
    {{ createForm }}
    <input class='submit' type='submit' value='save'>
</form>
{% endblock %}