{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit Page
{% endblock %}

{% block style %}
<style>
    .submit{
        padding: 5px;
        margin-top: 10px;
        color: white;
        background-color: #4d90fe;
        border:1px solid #4d90fe; 
    }
    .submit:hover{
        background-color:#4787ed;
        border-style: outset;
    }
    #readonly{
        margin-top: 10px;
        padding-left: 10px;
        padding-right: 0;
        border-style: hidden;
        width: 50%;
    }
    .textarea {
        margin-top: 10px;
        display:flex;
        height: 80vh;
        width: 60%;
    }
</style>
{% endblock %}

{% block search %}
<form action="{% url 'wiki:search' %}" method='post'>
    {% csrf_token %}
    {{ form }}
</form>
{% endblock %}

{% block body %}
<form action="{% url 'wiki:postEdit' %}" method='post'>
    {% csrf_token %}
    {{ editForm }}
    <input class='submit' type='submit' value='Save edit'>
</form>
{% endblock %}