body{
    font-family: Arial;
}

.links{
    text-align: right;
    height: 200px;
}

.form{
    text-align: center;
    width: 50%;
    background-color: transparent;
    margin-right: auto;
    margin-left: auto;
}

.logo{
    margin:20px;
    height:"92";
    width:"272";
}
.img_logo{
    margin-right: auto;
    margin-left: auto;
    background-image:url('https://www.google.com.br/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png');
    background-size: 272px 92px;
    background-repeat: no-repeat;
    height: 92px;
    width: 272px;
    text-align: center;
}

#img_txt{
    color:#4285f4;
    font: 16px/16px roboto-regular, arial, sans-serif;
    position: relative;
    left: 105px;
    top: 76px;
    white-space: nowrap;
}

.searchbar{
    margin-top: 5px;
    background-image:url('resources/searchicon.jpg');
    background-repeat: no-repeat;
    background-size: 22px 22px;
    background-position: 10px 10px;
    background-color:transparent;
    padding:10px;
    padding-left: 40px;
    width: 60%;
    border-radius: 30px;
    border-width: 1px;
    font-size: 1em;
}
.searchbar:focus{
    outline: none;
}

.submit{
    margin-top: 25px;
    margin-left:5px;
    border-radius: 5px;
    background-color:whitesmoke;
    border-style: hidden;
    font-size:0.9em;
    padding:9px;
    border-width: 1px;
    font: 400 13.3333px Arial;
}

.submit:hover{
    border-style: solid;
}

.image_search , .advanced_search , .index{
    font-size: 1em;
    display: inline-block;
    line-height: 24px;
    vertical-align: middle;
    color: rgba(0,0,0,0.87);
    text-decoration: none;
    margin: 10px;
}

.image_search:hover , .advanced_search:hover, .index:hover{
    text-decoration: underline;
}
#small_logo{
    margin-right: 100%;
    height: 24px;
    width: 74px;

}
#advanced{
    margin:25px 35px;
    font-size:20px;
    color:#d93025;
}
.adForm{
    border-top: 0.8px solid gray;
    border-bottom: 0.8px solid gray;
    padding:35px;
    font-size:0.8em;
}
.links_ad{
    background-image: url('https://www.google.com.br/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png');
    background-size: 74px 24px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    text-align: right;
    height: 70px;
}
.field{
    margin: 4px;
    font-size:1.2em;
}
.label{
    display:inline-block;
    width: 180px;
    text-align: left;
}
.textinput{
    display: inline-block;
    margin-left: 5px;
    line-height: 16px;
}
.complement{
    font-size: 0.7em;
    display: inline-block;
    margin-left: 390px;
}
.subcomp{
    color:grey;
}
#txtfield{
    padding-left: 10px;
    height: 20px;
    width: 300%;
    outline: none;
}

.ad_button{
    margin-top: 25px;
    border-radius: 2px;
    background-color:#4d90fe;
    color:white;
    border-style: hidden;
    font-size: 11px;
    padding: 9px;
    border-width: 1px;
    font: 400 13.3333px Arial;  
}
.ad_button:hover{
    background-color:#4787ed;
}
